.Btn_group {
  width: 100%;
  display: flex;
  gap: 4px;
}

.Btn_group Button {
  flex-grow: 1;
  border: 1px solid #bdbdbd;
  font-family: SUIT;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
